body {
    background-color: #0086e6ff;
}

.fadetoblue {
    animation: fadeBlue 2s linear;
}

@keyframes fadeBlue {
    from {background-color: currentColor;}
    to {background-color: #0086e6ff;}
}

.spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.recordPlayer {
    position: absolute;
    left: 1%;
    top: 1%;
    height: 10%;
    cursor: pointer;
}

.hAudio{
    position: absolute;
}

.door{
    position: relative;
    z-index: 1;
}

.doorButton {
    position: absolute;
    border: none;
    background: none;
    padding: 0;
    left:45%;
    bottom:20%;
    z-index: 1;
}

.door:not(.clicked):hover, .door1:not(.clicked):hover {
    cursor: pointer;
    content: url('../public/doorHover.png');
}

.wavy-grass {
    position: absolute;
    left:100px; 
    bottom:102px;
    width: 50px;
    height: auto;
    z-index: 2;
}

.wavy-grass1 {
    position: absolute;
    left:-40px;
    bottom:95px;
    width: 60px;
    height: auto;
    z-index: 2;
}

.wavy-grass2 {
    position: absolute;
    left:-30px;
    bottom:110px;
    width: 70px;
    height: auto;
    z-index: 0;
}

.doorContact {
    position: relative;
    left: 1500%;
    bottom: -190px;
    width: 40px;
    height: auto;
    z-index: 1;
}

.CdoorButton {
    position: absolute;
    border: none;
    background: none;
    padding: 0;
    left: 45%;
    bottom: 20%;
    z-index: 1;
}

.doorContact:not(.clicked):hover, .door:not(.clicked):hover {
    cursor: pointer;
    content: url('../public/doorHover.png');
}

/* Firefly animation - glowing circles */
.firefly {
    position: fixed;
    background-color: rgb(228, 228, 41);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 10px rgb(237, 237, 0);
    animation: glow 1s infinite, fade 2s infinite, movePath 10s infinite;
    animation-iteration-count: infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(238, 232, 172, 0.8), 0 0 20px rgba(238, 232, 172, 0.8), 0 0 70px rgba(238, 232, 172, 0.8), 0 0 50px rgba(238, 232, 172, 0.8);
    }
    25% {
        box-shadow: 0 0 20px rgba(241, 235, 175, 0.8), 0 0 30px rgba(238, 232, 172, 0.8), 0 0 60px rgba(238, 232, 172, 0.8), 0 0 70px rgba(238, 232, 172, 0.8);
    }
    50% {
        box-shadow: 0 0 20px rgba(249, 243, 174, 0.8), 0 0 30px rgba(249, 243, 174, 0.8), 0 0 40px rgba(249, 243, 174, 0.8), 0 0 50px rgba(249, 243, 174, 0.8);
    }
    75% {
        box-shadow: 0 0 10px rgba(238, 232, 172, 0.8), 0 0 10px rgba(238, 232, 172, 0.8), 0 0 30px rgba(238, 232, 172, 0.8), 0 0 30px rgba(238, 232, 172, 0.8);
    }
    100% {
        box-shadow: 0 0 10px rgba(238, 232, 172, 0.8), 0 0 20px rgba(238, 232, 172, 0.8), 0 0 70px rgba(238, 232, 172, 0.8), 0 0 50px rgba(238, 232, 172, 0.8);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.4;
    }
    75% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes movePath {
    0% {
        transform: rotate(10deg) translate(90px) rotate(10deg);
    }
    20% {
        transform: rotate(30deg) translate(50px) rotate(-20deg);
    }
    40% {
        transform: rotate(-20deg) translate(70px) rotate(30deg);
    }
    80% {
        transform: rotate(-30deg) translate(60px) rotate(20deg);
    }
}