body {
    background-color: #0086e6ff;
}

.fadetoblue {
    animation: fadeBlue 2s linear;
}

@keyframes fadeBlue {
    from {background-color: currentColor;}
    to {background-color: #0086e6ff;}
}

.spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.recordPlayer {
    position: absolute;
    left: 1%;
    top: 1%;
    height: 10%;
    cursor: pointer;
}

.hAudio{
    position: absolute;
}

.door{
    position: relative;
    z-index: 1;
}

.doorButton {
    position: absolute;
    border: none;
    background: none;
    padding: 0;
    left:45%;
    bottom:20%;
    z-index: 1;
}

.door:not(.clicked):hover {
    cursor: pointer;
    content: url('public/doorHover.png');
}

.wavy-grass {
    position: absolute;
    left:100px; 
    bottom:102px;
    width: 50px;
    height: auto;
    z-index: 2;
}

.wavy-grass1 {
    position: absolute;
    left:-40px;
    bottom:95px;
    width: 60px;
    height: auto;
    z-index: 2;
}

.wavy-grass2 {
    position: absolute;
    left:-30px;
    bottom:110px;
    width: 70px;
    height: auto;
    z-index: 0;
}

/* Firefly animation - glowing circles */
.firefly {
    position: fixed;
    background-color: #ff0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 10px #ff0;
    animation: glow 1s infinite, fade 2s infinite, movePath 10s infinite;
    animation-iteration-count: infinite;
}

@keyframes glow {
    50% {
        box-shadow: 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0, 0 0 50px #ff0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes movePath {
    0% {
        transform: rotate(10deg) translate(90px) rotate(10deg);
    }
    50% {
        transform: rotate(0deg) translate(10px) rotate(0deg);
    }
    100% {
        transform: rotate(200deg) translate(100px) rotate(-360deg);
    }
}